<style>
    /* body{ */
        /* filter: blur(8px);
        -webkit-filter: blur(8px); */
        /* background-image: url(<%= asset_path 'bg_choose.jpg' %>); */
        /* background-repeat: no-repeat;
        background-size: 100% 1000px; */
        
    /* } */
</style>
<div style="display: flex; flex-direction: column">
<%= form_with url: "/head", model:@search, method: "post" do |form| %>
 <%# <form action ="/quiz/test_id:"> %>
    <div class="contain_code">
         Enter code 
         <%# <input id="text-box" type="text" name="search[code]"> %>
         <%= form.text_field :text_field %>
         <%= form.submit :Enter %>
         <%# <input id="submit" type="submit" value="Enter"> %>
         <%# style="background-color: #3F9EED;font-size: 1vw; padding: 5px; font-family: Poppins; border-radius: 15px; border-style: none; margin-top: 14%; height: 42px" %>
    </div>
    <%# </form> %>
<% end %>
</div>