<style>
     #wrong_symbol{
        width: 2vw;
        margin-left: 33vw;
    }
     #enter_code{
        width: 35vw;
        margin-left: 30vw;
        margin-top: 10vw;
        height: 20vw;
        border-radius: 2vw;
        text-align: center;
    }
    #code_id{
        margin-top: 4vw;
        width: 15vw;
        height: 2.5vw;
        font-size: 1.5vw;
        border-radius: 15px;
        color: black
    }
    #enter_btn{
        background-color: #F96972;
        border-color: #F96972;
        width: 6vw;
        font-size: 1.2vw;
        font-family: Poppins;
        color: white;
        margin-top: 3vw;
    }
</style>
<div id="enter_code" style="background-color: #24B7C6;">
     <a href="/home">
          <%= image_tag 'wrong_sym.png' , id: "wrong_symbol" %>  
          </a>
     <form action ="/test_code">
          <input id="code_id" type="text" name="text_field" placeholder= "Enter code"><br>
          <input id="enter_btn" type="submit" value="Enter">
     </form>
</div>