<div style="display: flex; flex-direction: column">
 <form action ="/head">
    <div class="contain_code">
         Enter code 
         <input id="text-box" type="text" name="text_field">
         <input id="submit" type="submit" value="Enter">
    </div>
    </form>
</div>