<div id="save_btn" style="background-color: #24B7C6;">  
 <h2 style="color: white; font-size: 2vw; margin-left: 11vw; font-family: Poppins;">Create Code</h2>
    <% flash.each do |type, msg| %>
        <div class = "flash-msg">
            <%= msg %>
        </div>
    <% end %>
    <%= form_with url: "/finish_quiz",model:@save, method: "post" do %>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <input type="text" name="save[heading]" class="text_field" placeholder="Create your code" required pattern= "[A-Za-z0-9]{3,6}" title= "This field only contain 6 letters or numbers ">
        <input type="text" name="save[description]" class="description_field" max="55" placeholder="What is your test about ?" required>
        <input id="submit_btn" type="submit" value="Done">
    <% end %>
</div> 