<%= image_tag 'EVALU.png' , id: "logo_evalu", style: 'position: fixed' %>
<div style="display: flex; flex-direction: row;">
    <div>
      <h3 id="fwsa_color" style="top: 13vw;"> FWSA </h3>
      <h2 class="text_color" style="margin-top: 8vw;">
        Assess yourself by <span style="font-size: 5vw;"> <%= image_tag 'EVALU.png' , id: "text_evalu", style: 'position: fixed' %>
</span>
      </h2>
      <%# <h3 id="fwsa_color">
        Let's start your
        </h3> %>
        <button id="btn_style">
            <a href="/home" style="text-decoration: none; color: white;">
              Lets go
            </a>
        </button>
    </div>
    <div id="image_div">
      <%= image_tag 'akkabg.png' , style: 'height:45vw; width:42vw; margin-top: 3vw;' %>
    </div>
  </div>
