// Place all the styles related to the creates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#text{
  margin-top: 2%;
  margin-left: 80px;
  font-size: 3vw;
  margin-bottom: 5px;
  margin-right: 25%;
}
.quiz_tag a{
  text-decoration: none;
  color: white;
}
.fillup_tag a{
  text-decoration: none;
  color: white;
}
.tof_tag a{
  text-decoration: none;
  color: white;
}
#add_btn{
  width: 5vw;
  font-size: 1vw;
}
// #container{
//     display: flex;
//     flex-direction: row;
// }
.question_tag{
    transition: margin-left .5s;
    padding: 16px;
    width: 56%;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 20px;
    background-color: #3F9EED;
    border-style: none;
    opacity: 55%;
    border-radius: 25px;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    font-family: Poppins;
}
::placeholder{
    color: white;
}
.up_left{
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 5px 50px 50px 5px; 
    width: 22.3vw;
    float: left;
    height: 56px;
    // margin-left: -8px;
    // margin-left: 25.2vw;
    margin-top: 14%;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;
}
.down_left{
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 5px 50px 50px 5px; 
    width: 22.3vw;
    float: left;
    height: 56px;
    // margin-left: 25.2vw;
    margin-top: 10%;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;

    
}
.up_right{
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 22.3vw;
    // float: right; 
    height: 56px;
    // margin-left: 419px;
    margin-top: 14%;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;
}
.down_right{
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 22.3vw;
    // float: right;
    height: 56px;
    // margin-left: 419px;
    margin-top: 10%;
    font-size: 1.4vw;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;
}
.time-btn{
  font-size: 2vw;
  margin-left: 7vw;
  margin-top: 3vw;
  border-radius: 55%;
  padding: 30px;
  border-color: #3F9EED;
  border-width: 20px;
}
#body_container{
  width: 70vw;
  height: 79vh;
    // background-image: url(<%= asset_path 'quiz.png' %>);
  background: url('quiz.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-top: 5%;
  // box-shadow: #B3B3B3 10px 10px 10px;
}
#fill_container{
  width: 70vw;
  height: 79vh;
    // background-image: url(<%= asset_path 'quiz.png' %>);
  background: url('quiz.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-top: 5%;
  // box-shadow: #B3B3B3 10px 10px 10px;
}

#button{
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 1000;
}
body {
  background: #333;
  font-family: sans-serif;
  overflow: hidden;
}

/////////////////////////////////////////////
.main-container{
  display: flex;
  flex-direction: column;
}
.navbar-side {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5AE681;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar-side button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
  cursor: pointer;
}

.navbar-side button:hover {
  color: #f1f1f1;
}

body.body_container {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.check-box{
  // width: 20%;
  height:35px; 
  width:35px; 
  // vertical-align: middle;
  
}

// @media screen and (max-height: 450px) {
//   .navbar-side {padding-top: 15px;}
//   .navbar-side a {font-size: 18px;}
// }
