// Place all the styles related to the creates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dropdown {
  position: relative;
  display: inline-block;
}
.random{
  // position: absolute;
  // left: 75vw;
  // top: 2vw;
  // background-color: #06a6b8;
  // color: white;
  // width: 10vw;
  // height: 3.5vh;
  // text-align: center;
  // padding: 10px;
  // font-size: 1.5vw;
}
#random{
  outline: none;
  position: absolute;
  left: 75vw;
  top: 2vw;
  background-color: #06a6b8;
  color: white;
  width: 10vw;
  height: 3.5vh;
  text-align: center;
  padding: 10px;
  font-size: 1.5vw;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#text{
  margin-top: 2%;
  margin-left: 80px;
  font-size: 3vw;
  margin-bottom: 5px;
  margin-right: 25%;
}
.quiz_tag a{
  text-decoration: none;
  color: white;
}
.fillup_tag a{
  text-decoration: none;
  color: white;
}
.tof_tag a{
  text-decoration: none;
  color: white;
}
#add_btn{
  width: 5vw;
  font-size: 1vw;
}
// #container{
//     display: flex;
//     flex-direction: row;
// }

.que{
  color: #012C3D;
  position: relative;
  // transition: margin-left .5s;
  // margin-right: -7px;
  // padding-left: 75px;
  width: 60vw;
  height: 24vh;
  margin-left: 55vw;
  margin-top: 1vw;
  background-color: #02e6ff3d;
  border-style: none;
  opacity: 55%;
  border-radius: 25px;
  
}

@media screen and (max-height: 450px) {
  .numnav {padding-top: 15px;}
  .numnav a {font-size: 18px;}
}
.question_id{
  // position: absolute;
  margin-left: -0.2vw;
  margin-top: -0.2vw;
  outline: none;
  border-style: none;
  width: 4vw;
  height: 4vw;
  background-color: #06a6b8;
  border-color: #06a6b8;
  border-radius: 0.5vw;
  padding: 10px;
  text-align: center;
  font-size: 2vw;
  color: white;
  font-family: Poppins;
}
.question_tag{
  
  text-align: center;
  outline: none;
  border-style: none;
  width: 35vw;
  height: auto;
  background-color: transparent;
  border-color: #3F9EED;
  border-radius: 25px;
  text-align: center;
  font-size: 1.5vw;
  color: #012C3D;
  font-family: Poppins;
}
::placeholder{
    color: rgb(158, 158, 158);
    font-size: 1.5vw;
}
.up_left{
    font-weight: 900;
    width: 45vw;
    float: left;
    height: 56px;
    // margin-left: 6vw;
    // margin-left: 25.2vw;
    margin-top: 2vw;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;
    color: #012C3D;
    background-color: #24b6c62e;
    border-radius: 5px;
}
.down_left{
    font-weight: 900;
    width: 45vw;
    float: left;
    height: 56px;
    // margin-left: 6vw;
    margin-top: 2vw;
    font-size: 1.4rem;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;
    color: #012C3D;
    background-color: #24b6c62e;
    border-radius: 5px;
    
}
.up_right{
    font-weight: 900;
    width: 45vw;
    float: left;
    height: 56px;
    // margin-left: 6vw;
    margin-top: 2vw;
    font-size: 1.4rem;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
    border-style: none;
    color: #012C3D;
    background-color: #24b6c62e;
    border-radius: 5px;
}
.down_right{
    font-weight: 900;
    width: 45vw;
    float: left;
    height: 56px;
    // margin-left: 6vw;
    margin-top: 2vw;
    font-size: 1.4rem;
    padding-bottom: 5px;
    padding-left: 55px;
    border-style: none;
    font-family: Poppins;
    color: #012C3D;
    background-color: #24b6c62e;
    border-radius: 5px;
}
.opt_A{
  font-size: 1.5vw;
  text-align: center;
  color: white;
  background-color: #06a6b8;
  // position: absolute;
  margin-left: 6.5vw;
  margin-top: 2vw;
  padding: 10px;
  width: 2vw;
  // height: 4.5vh;
  height: auto;
}
.opt_B{
  font-size: 1.5vw;
  text-align: center;
  color: white;
  background-color: #06a6b8;
  // position: absolute;
  margin-left: 6.5vw;
  margin-top: 2vw;
  padding: 10px;
  width: 2vw;
  height: auto;
}
.opt_C{
  font-size: 1.5vw;
  text-align: center;
  color: white;
  background-color: #06a6b8;
  // position: absolute;
  margin-left: 6.5vw;
  margin-top: 2vw;
  padding: 10px;
  width: 2vw;
  height: auto;
}
.opt_D{
  font-size: 1.5vw;
  text-align: center;
  color: white;
  background-color: #06a6b8;
  // position: absolute;
  margin-left: 6.5vw;
  margin-top: 2vw;
  padding: 10px;
  width: 2vw;
  height: auto;
}
.opt_ans{
  font-weight: 900;
    width: 45vw;
    float: left;
    height: 56px;
    margin-left: 6vw;
    margin-top: 2%;
    font-size: 1.4vw;
    padding-bottom: 5px;
    padding-left: 55px;
    border-style: none;
    font-family: Poppins;
    color: rgb(2, 2, 89);
    background-color: #c0e1fb46;
    border-radius: 5px;
  
}

.timer_quiz{
  // position:fixed;
  width: 3vw;
  height: auto;
  background: white;
  border-radius: 50%;
  font-size: 1.5vw;
  margin-left: 25vw;
  margin-top: -5vw;
  padding: 0px;
  border-style: inset;
  border-color: #24B7C6;
  border-width: 1.5vw;
  display: block;
  text-align: center;
}
.timer{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  font-size: 1.5vw;
  margin-left: 25vw;
  margin-top: -5vw;
  padding: 10px;
  border-color: #24B7C6;
  border-width: 30px;
}
#body_container{
  border-color: #eef5f5;
  border-style: groove;
  border-width: 0.2px;
  position: absolute;
  width: 66vw;
  height: 88vh;
  display: flex;
  flex-direction: row;
  left: 20vw;
  top: 10%;
}
#body_container_1{
  border-color: #eef5f5;
  border-style: groove;
  border-width: 0.2px;
  position: absolute;
  width: 66vw;
  height: 88vh;
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  margin-top: 10%;
}
.btn_add{
  font-family: Poppins;
  border-color: #24B7C6;
  background-color: #24B7C6;
  margin-top: 52vw;
  margin-left: 70vw;
  font-size: 1.5rem;
  width: 8vw;
  color: white;
  cursor: pointer;
}
#done_btn{
  font-family: Poppins;
  border-color: #24B7C6;
  background-color: #24B7C6;
  margin-top: 52vw;
  margin-left: 2vw;
  font-size: 1.5rem;
  width: 8vw;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn_clear{
  font-family: Poppins;
  border-color: #24B7C6;
  background-color: #24B7C6;
  margin-top: 52vw;
  margin-left: 5vw;
  font-size: 2rem;
  width: 8vw;
  color: white;
  cursor: pointer; 
  text-decoration: none;
}

#button{
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 1000;
}
body {
  background: #333;
  font-family: sans-serif;
  overflow: hidden;
}

.navbar-side {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5AE681;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar-side button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
  cursor: pointer;
}

.navbar-side button:hover {
  color: #f1f1f1;
}

body.body_container {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}
.check-box{
  height:35px; 
  width:35px;   
}

.timer_quiz{
  text-align: center;
  width: 6vw;
  height: 6vw;
  border-radius: 50vw;
  font-size: 2vw;
  border-color: #24B7C6;
  border-width: 1.5vw;
}

#save_btn{
  width: 35vw;
  height: 35vw;
  margin-left: 35vw;
  margin-top: 5vw;
  padding: 10px;
  border-radius: 2vw;
  
}
.text_field{
  width: 25vw;
  height: 3vw;
  // text-align: center;
  font-size: 1.5vw;
  font-family: Poppins;
  border-radius: 5px;
  outline: none;
  border-style: none;
  margin-left: 5vw;
  margin-top: 4vw;
}
.description_field{
  width: 25vw;
  height: 8vw;
  // text-align: center;
  font-size: 1.5vw;
  font-family: Poppins;
  border-radius: 5px;
  outline: none;
  border-style: none;
  margin-left: 5vw;
  margin-top: 2vw;
}
.quesno{
  margin-left: 10vw;
  margin-top: 3vw;
  margin-right: 8vw;
  font-size: 1.2vw;
  font-family: Poppins;
  color: white;
}
#submit_btn{
  padding: 10px;
  margin-left: 12vw;
  margin-top: 3vw;
  width: 10vw; 
  height: auto;
  border-radius: 10px; 
  background-color: white; 
  border-color: #24B7C6; 
  color: #24B7C6; 
  font-family: 'Poppins'; 
  font-weight: bold; 
  font-size: 25px;
}
#submit_btn:hover{
  background-color: #24B7C6; 
  border-color: #24B7C6; 
  color: white; 
  font-weight: 900;
}
.flash-msg{
  color: #F96972;
  font-weight: 900;
  margin-left: 8vw;
  // padding-top: 3vw;
  font-family: Poppins;
  font-size: 1.5vw;
}
.sidenavques{
  font-size: 1vw;
  padding: 10px;
  padding-left: 2vw;
  border-radius: 0px 70px 0px 0px;
    background-color: #24B7C6;
    width: 18vw;
    height: 38vw;
    margin-left: -1.8%;
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Poppins;
    position: fixed;
}
.question_box{
  border-style: groove;
  border-color: white;
  margin: 1vw;
  
}
#main-container{
  display: flex;
  flex-direction: row;
}
.quest_side{
  background-color: #F96972;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 1vw;
  margin-right: 1vw;
  color: white ;
  font-size: 1vw;
  font-family: Poppins;
}
